.btn-style-01{
    border-style:none;
    padding:8px 30px;
    line-height:24px;
    color:#fff;
    font:16px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor:pointer;
    border:1px #ae7d0a solid;
    -webkit-box-shadow:inset 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 1px #fff;
    box-shadow:inset 0 0 1px #fff;/*内发光效果*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;/*边框圆角*/
    text-shadow:1px 1px 0 #b67f01;/*字体阴影效果*/
    background-color:#feb100;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#feb100), to(#e8a201));
    background-image: -webkit-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -moz-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -ms-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -o-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: linear-gradient(top, #feb100 0%, #e8a201 100%);/*颜色渐变效果*/
}
.btn-style-01:hover {
    background-color:#e8a201;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#e8a201), to(#feb100));
    background-image: -webkit-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -moz-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -ms-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -o-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: linear-gradient(top, #e8a201 0%, #feb100 100%);
}